* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.center-wrapper {
  max-width: 35rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.stack > * + * {
  margin-top: 2rem;
}
